*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.back{
   height: 100vh;
   width: 100vw;
   background: linear-gradient(135deg, #140F2D, #0A0A0F);
}

.main1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px;
    flex-wrap: wrap;
}

.left{
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.right{
    height: 450px;
    width: 450px;
}

.right img{
    height: 100%;
    width: 100%;
}