.profilePage{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #140F2D, #0A0A0F);
    color: aliceblue;
}

.profileContainer{
    display: flex;
    justify-content: space-around;
    padding: 40px 120px;
    flex-wrap: wrap;
}

.leftPart{
    display: flex;
    align-items: center;
}

.profileItem{
    display: flex;
    gap: 2rem;
}

.avatarContainer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.svgPart{
    width: 500px;
    height: 500px;
}

img{
    width: 100%;
    height: 100%;
}


.buttonDiv button{
    background: #fff;
    color: #0A0A0F;
}

        