*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: menlo,monacco;
}
.authContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.imageContainer{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #140F2D, #0A0A0F);
}

.formContainer{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: url("https://plus.unsplash.com/premium_vector-1725646167324-7c6b80721509?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHZpbnRhZ2V8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
}

.head{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 30px;
}

.head p{
    background-color: black;
    color: white;
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 15px 20px;
    font-size: 1.2rem;
}



.form{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


input{
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
}
 button{
     background-color: black;
    color: white;
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.loginFooter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1.1rem;
}

#span{
     background-color: black;
    color: white;
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: default;
}



@media (max-width:1200px) {
    .imageContainer{
        display: none;
    }

    .formContainer{
        width: 100%;
    }
    
}

.nf{
    height: 100vh;
    width: 100vw;
}

.nf img{
    height: 100%;
    width: 100%;
}

.nfbtn{
    position: absolute;
    top: 9vh;

    left: 5vw;
}

